/* Skin: Humans on Air */

$background-color: #EEE7DC !default;
$text-color: #000000 !default;
$muted-text-color: #333333 !default;
$primary-color: #FA4646 !default;
$border-color: mix(#000000, $background-color, 20%) !default;
$footer-background-color: #000000 !default;
$link-color: #FA4646 !default;
$masthead-link-color: #000000 !default;
$masthead-link-color-hover: #FA4646 !default;
$navicon-link-color-hover: mix(#FA4646, $background-color, 80%) !default;